body {
    font-family: 'Roboto', sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.top-bar {
    width: 100%;
    background-color: #548293;
    height: 18px;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5)
}

.main-container {
    margin: 0 50px;
}

.name {
    color: #548293;
    margin: 44px 0 22px;
}

.role {
    color: #8f9091;
    margin-bottom: 16px;
}

.container-body {
    display: flex;
}

.container-body-left {
    width: 25%;
    background-color: #eff5f6;
    text-align: center;
}

.avatar {
    /*border-radius: 50%;*/
    /*margin: 18px 0;*/
    width: 100%;
}

.skills-contact-container {
    text-align: end;
    padding: 20px;
}

.section-title {
    color: #548293;
    margin-top: 32px;
    margin-bottom: 12px;
}

.skills-contact-subtitle {
    color: #2c2c2c;
    font-size: 14px;
}

.common-text {
    color: #2c2c2c;
    line-height: 22px;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 14px;
}

.container-body-right {
    width: 75%;
    margin: -32px 20px 20px;
}

.experience-block {
    display: flex;
    font-size: 14px;
    margin-bottom: 16px;
}

.experience-block-left {
    width: 15%;
    color: #548293;
}

.experience-block-right {
    width: 85%;
    margin-left: 16px;
}

.experience-block-right-head {
    font-style: italic;
    color: #2c2c2c;
    display: flex;
    justify-content: space-between;
}

.divider {
    border: 1px solid #dadbdc;
    margin-bottom: 22px
}
